{% extends 'base.html.twig' %}

{% block title %}Ma première page{% endblock %}

{% block body %}
    <h1>Bienvenue sur ma première page Symfony </h1>
    <a href="{{ path('app_test') }}">Aller à la page test</a>
{% endblock %}