{% extends 'base.html.twig' %}

{% block title %}Page Test{% endblock %}

{% block body %}
    <h1>Page Test</h1>
    <p>{{ message }}</p>
    <a href="{{ path('app_demo') }}">Retour à l'accueil</a>
{% endblock %}